{% extends 'base.html' %} {% block content %}

  <table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">Discord ID</th>
        <th scope="col">Name</th>
        <th scope="col">Month</th>
        <th scope="col">Day</th>
      </tr>
    </thead>
    <tbody>
      {% if birthdays %}
      {% for birthday in birthdays %}
      <tr>
        <td>{{ birthday.discord_id }}</td>
        <td>{{ birthday.name }}</td>
        <td>{{ birthday.month }}</td>
        <td>{{ birthday.day }}</td>
      </tr>
      {% endfor %}
    {% endif %}
    </tbody>
  </table>

  <a href="{% url 'add_birthday' %}" class="btn btn-success">Add Birthday</a>
  <a href="{% url 'add_birthday_file' %}" class="btn btn-success">Import from file</a>

{% endblock %}